
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/avenir_ff/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: AvenirBlack;
  src: url(../assets/fonts/avenir_ff/AvenirLTStd-Black.otf);
}
body {
  font: normal normal normal 18px/24px Avenir;
  color: #111111;
}

a {
  color: #13B59C;
}

a:hover {
  color: #1CB59C;
  text-decoration: none;
}
p {
  font-family: "Avenir", sans-serif;
  font-size: 0.8em;
}
h1, h2 {
  font-family: "AvenirBlack", sans-serif;
  font-size: 2em;
}
h3, h4, h5, h6 {
  font-family: "Avenir", sans-serif;
  font-weight: 700;
}
h5 {
  font-size: 0.9em;
  font-weight: 600;
}
h4 {
  font-size: 1.5em;
}
a,p,input::placeholder,label {
  font-size: 0.8em;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #13B59C;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #13B59C;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #13B59C;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 0 0;
  top: 0px;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 12%);
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Avenir", sans-serif;
}

#header .logo a {
  color: #1C1C1C;
}

#header .logo a span {
  color: #13B59C;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
  align-items: center;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 0px 0px 0px 8px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #1C1C1C;
  transition: 0.3s;
  font: normal normal 14px/20px Avenir;
  padding: 20px 3px;
  font-family: "Avenir";
}
#header.header-scrolled .nav-menu a {
  padding: 15px 3px;
}
/* 
.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #13B59C;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
} */

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #13B59C;
}
.nav-menu .drop-down ul,.nav-menu .drop-down .submenu {
  display: none;
  position: absolute;
  left: 12px;
  top: calc(100% + 35px);
  z-index: 99;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 12%);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul,.nav-menu .drop-down:hover > .submenu,.nav-menu .drop-down .submenu ul {
  display: block;
  top: 100%;
}
.nav-menu .drop-down .submenu ul {
  position: static;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
}
.nav-menu .drop-down:hover > .submenu,.nav-menu .drop-down > .submenu {
  width: 400px;
}
.drop-down li {
  min-width: 180px;
  position: relative;
}
.submenu ul li {
  min-width: 0;
  margin-bottom: 5px;
  white-space: normal;
}
.nav-menu .drop-down ul a {
  padding: 2px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #1c1c1c;
}
.col1 a {
  font-weight: 600 !important;
}
.submenu>.row>div:first-child {
  border-right: 1px solid #dddddd;
}
.col1 li:hover:after {
  content: "";
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-left: 5px solid #13b59c;
}
col1 li:hover a {
  color: #13b59c;
}
#header.header-scrolled .nav-menu .drop-down ul a {
  padding: 2px 20px;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #13B59C;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 2px;
  transition: 0.2s ease-in-out;
}
.nav-menu a:hover:after, .nav-menu .active > a:after, .nav-menu li:hover > a:after {
  padding-left: 4px;
}
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.search {
  width: 21px;
  margin-top: -1px;
}

.search-form-wrapper {
  display: none;
  position: absolute;
  top: 65px;
  right: 10px;
  width: 260px;
}
.search-form-wrapper.open {
  display: block;
}

a.login {
  color: #13b59c;
}
.register,.btn-nextgen {
  min-width: 75px;
  background: #13b59c;
  border-color: #13b59c;
  border-radius: 1px;
  padding: 5px 15px !important;
  color: white;
}
#banner .btn-nextgen-outline {
  margin-left: 20px;
}
.btn-outline-primary.focus, .btn-nextgen-outline:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgb(19 181 156 / 28%);
}
.btn-nextgen-outline {
  background: transparent;
  color: #13b59c;
  border: 2px solid;
}
.btn:hover {
  color: #ffffff;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(19 181 156 / 20%);
}
.btn-outline-primary:hover,.btn-nextgen-outline:active.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: rgb(19 181 156);
  border-color: #13b59c;
}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */

.mobile-nav input.search::placeholder {
  padding-left: 10px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #1C1C1C;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #1C1C1C;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #13B59C;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul,.mobile-nav .drop-down .submenu {
  display: none;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}
.mobile-nav .drop-down.active ul,.mobile-nav .drop-down.active .submenu {
  display: block;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
.mobile-nav li {
  position: relative;
}
.mobile-nav li .search-form-wrapper {
  top: 3px;
  right: 5px;
}
/*--------------------------------------------------------------
# banner Section
--------------------------------------------------------------*/
#banner {
  width: 100%;
  height: 95vh;
  background: url(../img/forground.svg) top left;
  background-size: cover;
  position: relative;
  background-position: bottom left;
}
#banner:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#banner .container {
  position: relative;
}
#banner h1 {
  margin-bottom: 1rem;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  color: #1C1C1C;
  font-family: "AvenirBlack", sans-serif;
}
#banner h1 span,h2 span,.payment-label {
  color: #13B59C;
}
#banner .btn {
  width: 110px;
}
#banner .btn-get-started {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #13B59C;
}

#banner .btn-get-started:hover {
  background: #13B59C;
}

#banner .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #1C1C1C;
  position: relative;
  font-weight: 600;
}

#banner .btn-watch-video i {
  color: #13B59C;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#banner .btn-watch-video:hover {
  color: #13B59C;
}

#banner .btn-watch-video:hover i {
  color: #1CB59C;
}

@media (max-width: 768px) {
  #banner {
    height: auto;
    padding-top: 110px;
}
  #banner h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #banner h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #banner .btn-get-started, #banner .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #banner {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}
table {
  border: 1px solid #dddddd ;
  font-size: 0.8em;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 10%);
}
table th {
  background-color: rgb(19 181 156 / 5%);
  white-space: nowrap;
}
table tr>* {
  vertical-align: top !important;
  border-right: 1px solid #dddddd !important;
}
table tr>*:first-child,table tr>*:last-child {
  border-right: 0 !important;
}
.down-space {
  margin-bottom:2em;
}
.enquire {
  position: fixed;
  top: 44%;
  transform: rotate(
270deg
);
  right: -44px;
}
.nextget-ul {
  padding-left: 1.7em;
  list-style-type: none;
  line-height: 1.2;
}
.nextget-ul>li {
  position: relative;
}
.nextget-ul>li:before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  background: url(../img/proprietorship/checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: -1.7em;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(19 181 156 / 70%);
  transition: 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #13b59c;
}
.form-control:focus {
  border-color: #13b59c;
  box-shadow: none;
}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
/*--------------------------------------------------------------
# Service
--------------------------------------------------------------*/
.learn-more {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1em;
}
.services .card {
  border: none;
}
.service-cards {
  border-left: 5px solid rgb(0 0 0 / 20%);
}
.service-cards:after {
  content: "";
  width: 5px;
  height: 33%;
  background: #13b59c;
  position: absolute;
  bottom: 0;
  left: -5px;
}
/*--------------------------------------------------------------
# Service
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Why Choose
--------------------------------------------------------------*/
section.why-choose {
  background-color: rgb(19 181 156 / 5%);
}
/*--------------------------------------------------------------
# Why Choose
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Comparison
--------------------------------------------------------------*/
.comparison table th {
  white-space: nowrap;
}
/*--------------------------------------------------------------
# Comparison
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact p {
  font-size: 0.8em;
}
.contact {
  background: rgb(243 113 104 / 5%);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}
.footer-top {
  background-image: url(../img/footer-bg.svg);
  padding: 115px 0 30px 0;
  background-size: cover;
  background-position: top left;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
.footer-top .col {
  flex: 1 0 200px;
}
.footer-top * {
  color: #dddddd;
}
.footer-top a,.footer-top p {
  font-size: 0.8em;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
.footer-links ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 2;
}
#footer .footer-top .footer-contact h3 span {
  color: #13B59C;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Avenir", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #13B59C;
  font-size: 18px;
  line-height: 1;
}
.footer-logo .logo img {
  margin: -0.4rem 0 0.5rem 0;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #13B59C;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #13B59C;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social-links-inner {
  display: inline-block;
}
.social-links-inner>div {
  display: flex;
  text-align: center;
}
.social-links-inner>div>a {
  flex: 0 0 20px;
}
#footer .footer-top .social-links a:hover {
  background: #1CB59C;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}
.copyright, .social-links {
  font-size: 0.8em;
}
@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}


/*--------------------------------------------------------------
# Register / SignIn
--------------------------------------------------------------*/

.nav-pills {
  display: inline-table;
}
.nav-pills .nav-link {
  padding: 3px 5px;
  border-radius: 0px;
  width: 90px;
}
.nav-item {
  display: table-cell;
}

.nav-item .active{
  background: #13B59C 0% 0% no-repeat padding-box;
  border-radius: 4px;
}

.nav-item>a{
  color: #bebebe !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #e7f7f5 !important;
  color: #34bfaa !important;
}

.form {
  width: 55%;
}
.form input:focus {
  box-shadow: none;
}
.tab-content{
  text-align: -webkit-center;
  text-align: -moz-center;
}
.right_image{
  padding: 0px 50px 0px 20px;
}
.btn-google {
  color: #545454;
  background-color: #ffffff;
  font-size: 0.8em;
}
.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 1.2em 0;
}
.or-label{
  font-size: 0.8em;
}
.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}
.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}
.disabled {
  background-color: rgb(28 28 28 / 10%);
  border-color: rgb(28 28 28 / 10%);
}
.img-bg {
  background: rgb(19 181 156 / 10%);
}
.img-bg {
  background-color: rgb(19 181 156 / 10%);
  background-image: url(../img/signinbg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.google_icon{
  width: 10%;
  vertical-align: text-top;
  margin-right: 2px;
}
.forgot_password {
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  #signin,#Register, #signin>div, #Register>div {
    height: 100vh;
  }
  }
  @media (max-width: 767px){
    .form{
      width: 80% !important;
    }
    .mob_set{
      padding-top: 20px;
    }
    .w-25{
      width: 40% !important;
    }
    h3 {
      font-size: 25px;
    }
  }
/*--------------------------------------------------------------
# Register / SignIn End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Proprietorship
--------------------------------------------------------------*/
.frequentlybg {
  padding: 30px 0;
  background-image: url(../img/proprietorship/frequently.png);
}
.disadvantages {
  background: #FDF5F6;
}
.advantages {
  background: #F9F8FF;
}
.disadvantages img,.advantages img {
  height: 9em;
}
.disadvantages h4,.advantages h4 {
  font-size: 1.3em;
}
.disadvantages .description,.advantages .description {
  line-height: 1.4;
}

.fs14{
  font-size: 14px;
  line-height: 22px;
}

.icon.icon_login:hover {
  background-color: white;
  box-shadow: 0px 0px 12px #07394529;
  opacity: 1;
  color: #13b59c;
}  

.icon.icon_login {
  padding: 1.5em 2em;
  background-color: transparent;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 5px;
} 

.key_features{
  background-color: #13B59C1A !important;
  padding-bottom: 50px;
}

.Proprietorship{
  background: url(../img/proprietorship/top-bg.svg);
  background-size: cover;
  position: relative;
  background-position: bottom;
}

.proprietorship-icon {
  position: absolute;
  width: 100px;
}

.icon1{
  top: 16%;
  left: 7%;
}

.icon2{
  top: 16%;
  right: 7%;
}

.icon3{
  top: 50%;
  left: 13%;
}

.icon4{
  top: 50%;
  right: 13%;
}

.right_icon h6::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: -2px;
  top: 0;
  background: url(../img/proprietorship/next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.right_icon:hover * {
  color: #13b59c;
}

.right_icon:hover h6::before {
  background: url(../img/proprietorship/next-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Payment
--------------------------------------------------------------*/
.payment .box {
  border: 2px solid;
  border-color: transparent;
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.payment .plan:hover {
  border-color:#13b59c;
  box-shadow: 1px 2px 2px 1px #ddd;
}
.payment .box h3 {
  font-size: 1em;
  font-weight: 600;
  color: #777777;
}
.payment .box h4 {
  font-size: 1.5em;
  color: #13B59C;
  font-weight: 600;
}
.payment .box ul li {
  padding-bottom: 0.6em;
}
.payment .btn-wrap {
  padding: 20px 15px;
}
.payment .btn-buy {
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 600;
  transition: 0.3s;
}
.payment p {
  margin-bottom: 0;
}